In [ ]:
# 여러분의 이름과 학번을 출력하세요.
name = "이경림"
id = "20221999"
print(name, id)

이경림 20221999

In [ ]:
# 문제 1. for문과 range 구문을 사용해서 0~9까지 한 라인에 숫자 하나씩 순차적으로 출력하는 프로그램을 작성하라.

# 정답 1.
for i in range(10) :
  print(i, end='')

0123456789

In [ ]:
# 문제 2. for문과 range 구문을 사용해서 0~9까지 한 라인에 숫자 하나씩 순차적으로 본인의 이름과 함께 출력하는 프로그램을 작성하라.
# 출력 예시: 0 홍길동

# 정답 2.
for i in range(10) :
  print("%d 이경림" %i)

0 이경림
1 이경림
2 이경림
3 이경림
4 이경림
5 이경림
6 이경림
7 이경림
8 이경림
9 이경림

In [ ]:
# 문제 3. 월드컵은 4년에 한 번 개최된다. 2002년에 월드컵이 개최되었다.
# range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

# 정답 3.
for i in range(2002, 2051, 4) :
  print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [ ]:
# 문제 4. 1부터 30까지의 숫자 중 3의 배수를 for문 이용하여 출력하라.

# 정답 4.
for i in range(3, 31, 3) :
  print(i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
# 문제 5. 1부터 30까지의 숫자 중 3의 배수를 리스트 내포(list comprehension)하여 출력하라.

# 정답 5.
arr = [i*3 for i in range(1,11)]
print(arr)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [ ]:
# 문제 6. 20부터 0까지 1씩 감소하는 숫자들을 리스트 내포하여 출력하라.

# 정답 6.
arr = [i for i in range(20, -1, -1)]
print(arr)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
# 문제 7. 구구단 3단을 for문, range() 이용하고 if문 없이 출력하라. 단 홀수 번째만 출력한다.
# 출력 예시: 3, 9, 15, 21, 27

# 정답 7.
for i in range(1,10,2) :
  print(3*i)

3
9
15
21
27

In [ ]:
# 문제 8. 구구단 3단을 for문, range(), if문 이용하여 출력하라. 단 홀수 번째만 출력한다.
# 출력 예시: 3, 9, 15, 21, 27

# 정답 8.
for i in range(1,10) :
  if i%2==1 :
    print(3*i)

3
9
15
21
27

In [ ]:
# 문제 9. 구구단 3단을 리스트 내포(range(step) 포함) 이용하여 출력하라. 단 홀수 번째만 출력한다.
# 출력 예시: 3, 9, 15, 21, 27

# 정답 9.
arr = [3*i for i in range(1,10,2)]
print(arr)

[3, 9, 15, 21, 27]

In [ ]:
# 문제 10. 구구단 3단을 리스트 내포(if문 포함) 이용하여 출력하라. 단 홀수 번째만 출력한다.
# 출력 예시: 3, 9, 15, 21, 27

# 정답 10.
arr = [3*i for i in range(10) if i%2==1]
print(arr)

[3, 9, 15, 21, 27]

In [ ]:
# 문제 11. 여러분의 학번과 이름 문자열을 화면에 출력하는 print_student_info() 함수를 정의하라.

# 정답 11.
# 코드 작성: id, name 매개변수 사용하여 표준출력하는 함수
def print_student_info(id, name) :
  id = "20221999"
  name = "이경림"
  print(id, name)
# 출력 구문: 수정하지 말 것
print_student_info(id, name)

20221999 이경림

In [ ]:
# 문제 12. 문제 11에서 정의한 print_student_info 함수를 5번 호출하라.

# 정답 12.
for i in range(5) :
  print_student_info(id, name)

20221999 이경림
20221999 이경림
20221999 이경림
20221999 이경림
20221999 이경림

In [ ]:
# 문제 13. 아래의 에러가 발생하는 원인을 찾고 코드를 수정하여 문제를 해결하라.

def hello_hello():
  print("Hi")
hello_hello()
# 정답 13.
  #함수가 정의되기 전에 함수를 호출해 에러가 발생하였다. 함수정의 후에 호출 시 에러가 발생하지 않는다.

Hi

In [ ]:
# 문제 14. 아래 코드의 실행 결과를 예측하여 출력하라.
print("B")

def message():
    print("A")

print("C")
message()

# 정답 14.
# 코드 작성: 아래 print 함수에 예측한 결과를 문자열로 넣기
print("BCA")

B
C
A
BCA

In [ ]:
# 문제 15. 아래 코드의 실행 결과를 예측하여 출력하라.
print("B")
def message1():
    print("A")
print("C")
def message2():
    print("D")
message1()
print("E")
message2()

#정답 15.
# 코드 작성: 아래 print 함수에 예측한 결과를 문자열로 넣기
print("BCAED")

B
C
A
E
D
BCAED

In [ ]:
# 문제 16. 아래와 같은 에러가 발생하는 원인을 찾고 코드를 수정하여 문제를 해결하라.
# 출력값 예시: 안녕3
def test(a, b) :
    print(a, b)

# 정답 16.
  # 서로 다른 자료형 간 사칙연산이 허용되지 않는다.
# 출력 구문: 수정하지 말 것
test("에러 싫어요", 3)

에러 싫어요 3

In [ ]:
# 문제 17. 성적 리스트를 입력받아 평균을 출력하는 print_score 함수를 정의하라.
# sum(): 객체의 숫자 합을 반환하는 내장함수
# len(): 객체의 길이를 반환하는 내장함수

# 정답 17.
# 코드 작성: print_score 함수
def print_score(list1) :
  a = sum(list1)
  b = len(list1)
  print(a/b)

# 출력 구문: 수정하지 말 것
print_score([1, 2, 3])

2.0

In [52]:
# 문제 18. 문제 17의 print_score 함수를 키워드 인수 방식(매개변수 지정, [1, 2, 3] 대입)으로 호출하라.

# 정답 18.
def print_score(list1) :
  a = sum(list1)
  b = len(list1)
  print(a/b)
  
print_score(list1=[1,2,3])

2.0

In [ ]:
# 문제 19. 문제 17의 print_score 함수의 매개변수 초기값을 [1, 1, 1]로 설정하고 인수 없이 호출하라.

# 정답 19.
# 코드 작성: print_score 함수
def print_score() :
  arr = [1,1,1]
  a = sum(arr)
  b = len(arr)
  print(a/b)
# 출력 구문: 수정하지 말 것
print_score()

1.0

In [ ]:
# 문제 20. 아래 코드의 실행 결과를 예측하여 출력하라.
a = 3
def vartest(a):
  a = a + 1

vartest(a)
print(a)

# 정답 20.
# 코드 작성: print 함수의 인수에 예측 결과를 반영
print("3") #vartest의 a는 지역변수고 처음에 설정한 변수 a=3이 전역변수이므로 vartest를 처리했다고 하더라도 a의 값은 3에서 바뀌지않음

3
3

In [ ]:
# 문제 21. 아래 코드의 실행 결과를 예측하여 출력하라.
a = [1]
def vartest(a):
    a.append(2)

vartest(a)
print(a)

# 정답 21.
# 코드 작성: print 함수의 인수에 예측 결과를 반영
print("[1, 2]")

[1, 2]
[1, 2]

In [ ]:
# 문제 22. 아래 코드의 실행 결과를 예측하여 출력하라.
a = 1
def vartest():
  global a
  a = a + 1

vartest()
print(a)

# 정답 22.
# 코드 작성: print 함수의 인수에 예측 결과를 반영
print("2") #vartest에서의 a를 전역변수로 설정해줬기 때문에 값이 변화한다.

2
2

In [ ]:
# 문제 23. 아래 코드의 실행 결과를 예측하여 출력하라.
def print_student_info(id, name):
  print(id, name)

id = '11112222'
name = '홍길동'
print_student_info(name, id)

# 정답 23.
# 코드 작성: print 함수의 인수에 예측 결과를 반영
print("홍길동 11112222")

홍길동 11112222
홍길동 11112222

In [ ]:
# 문제 24. 아래 코드의 실행 결과를 예측하여 출력하라.
def print_student_info(id, name):
  print(id, name)

id = '11112222'
name = '홍길동'
print_student_info(name=name, id=id)

# 정답 24.
# 코드 작성: print 함수의 인수에 예측 결과를 반영
print("11112222 홍길동")

11112222 홍길동
11112222 홍길동

In [ ]:
# 문제 25. 아래 코드의 실행 결과를 예측하여 출력하라.
def print_student_info(*args):
  print(args)

id = '11112222'
name = '홍길동'
print_student_info(name, id)

# 정답 25.
# 코드 작성: print 함수의 인수에 예측 결과를 반영
print("(\'홍길동\', \'11112222\')")

('홍길동', '11112222')
('홍길동', '11112222')

## 연습문제

In [ ]:
# 문제 26. 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

# 정답 26.
arr = [i for i in range(1,11) if i%2==1]
a = sum(arr)
print(a)

25

In [ ]:
# 문제 27. 두 정수 A와 B가 주어졌을 때, A와 B를 비교하는 프로그램을 작성하시오.
# 입력 시, A에 3, B에 2 입력하세요.
# 문제 링크: https://www.acmicpc.net/problem/1330

# 정답 27.
values = input()
values = values.split()
a = int(values[0])
b = int(values[1])
# 코드 작성: A와 B를 비교하여 결과 출력
if a>b :
  print(">")
elif a==b :
  print("=")
else :
  print("<")

3 2
>

In [ ]:
# 문제 28. 하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는
# print_with_smile 함수를 정의하라.
# 출력값 예시: (^ ^):D

# 정답 28.
# 코드 작성: print_with_smile 함수
def print_with_smile(str) :
  print(str, end=':D')
# 출력 구문: 수정하지 말 것
print_with_smile("(^ ^)")

(^ ^):D

In [ ]:
# 문제 29. 입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

# 정답 29.
# 코드 작성: print_reverse 함수
def print_reverse(str) :
  for i in str[::-1] :
    print(i, end='')
# 출력 구문: 수정하지 말 것
print_reverse("!!브이바 는오나 서에짬")

짬에서 나오는 바이브!!

In [ ]:
# 문제 30. 아래 코드의 오류 원인을 찾고 수정하여 출력값 예시처럼 출력하라.
# 출력값 예시: 홍길동 11112222
def print_student_info(*args):
  a, b = args #매개변수로 넘어오는 요소가 2개인데 변수로 3개를 지정해 오류가 나는 것이다. 변수를 2개로 맞춰주면 해결된다.
  print(a, b)

id = '11112222'
name = '홍길동'
print_student_info(name, id)

# 정답 30.

홍길동 11112222